name: packages

on:
  push

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Install C libraries
      run: sudo apt-get install libsdl2-dev

    - uses: actions/checkout@v3

    - id: setup
      uses: haskell/actions/setup@v2
      with:
        ghc-version: 8.10.7

    - uses: actions/cache@v3
      with:
        key: ${{ runner.os }}-cabal-store
        path: |
          ${{ steps.setup.outputs.cabal-store }}
          dist-newstyle
          ~/.ghcup

    - name: Install dependencies
      run: |
        cabal update
        cabal build all --only-dependencies --enable-tests --enable-benchmarks

    - name: Build packages
      run: cabal build all --enable-tests

    - name: Test packages
      run: cabal test all
